.addChannel {
	background-image: url(../images/addChannel.png) !important;
}
.joinChannel {
	background-image: url(../images/join.png) !important;
}
.online {
	background-image: url(../images/online.png) !important;
}
.offline {
	background-image: url(../images/offline.png) !important;
}
.refresh {
	background-image: url(../images/refresh.png) !important;
}
.add {
	background-image: url(../images/add.png) !important;
}
.remove {
	background-image: url(../images/remove.png) !important;
}
.group {
	background-image: url(../images/group.png) !important;
}
.star {
	background-image: url(../images/star.png) !important;
}
.comment {
	background-image: url(../images/comment.png) !important;
}
.chat {
	background-image: url(../images/chat.png) !important;
}
.news {
	background-image: url(../images/news.png) !important;
}
.delete {
	background-image: url(../images/delete.png) !important;
}

